<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My App</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>	
<body>
	<div class="container">
		<h2>Hata ! Kullanici bulunamadi. Lutfen kayit olunuz.</h2>

	<style>
		.button {
			background-color: #4CAF50; /* Green */
			border: none;
			color: white;
			padding: 12px 24px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 10px 2px;
			cursor: pointer;
		}

		.button2 {background-color: #f44336;}	
	</style>
	</form>
		<form action="/loginPage" method="get">
					<button class="button button2">Giris Sayfasina Geri Git</button>

		</form>
		
		<form action="/" method="get">
					<button class="button button3">Ana Sayfaya Don</button>

		</form>
	</div>
	
	<style>
		.container{
			 text-align : center;
			font-family: "SIMPSON";
			margin-top:100px;
		}
	</style>
	<script src="jquery/dist/jquery.js"></script>
	<script src="bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>